---
layout: default
body_class: project
---

<article class="page">

    <h1>{{ page.title }}</h1>

      <div class="header">
        <span class="date">{{ page.date | date: "%Y" }}</span>
        <span class="dot-divider"></span>
        <span class="category">{{ page.category }}</span>
        {% if page.size %}
          <span class="dot-divider"></span>
          <span class="size">{{ page.size }}</span>
        {% endif %}
        {% if page.active %}
          <span class="active">active</span>
        {% endif %}
      </div>

    <div class="footer">
      {% for technology in page.technologies %}
        <span class="tech tech-{{ site.data.tech[technology].type |slugify }}">{{ technology }}</span>
      {% endfor %}
<!---
      <hr/>
      {% for tag in page.tags %}<span>{{ tag }}</span>{% endfor %}
-->
    </div>

    <div class="entry">
        {{ content }}

        {% if page.repositories | size > 0 %}
          <h2>Repositories</h2>
          <ul>
          {% for repo in page.repositories %}
              <li><a href="{{ repo.url }}">{{ repo.name }}</a></li>
          {% endfor %}
          </ul>
        {% endif %}

    </div>

</article>
